section.container {
  padding: 20px;
  padding-left: 50px;
  background-color: #011712;
}
.layer .top-title {
  font-size: 36px;
  font-weight: 900;
  color: #ffe600;
  margin-bottom: 20px;
}

.layer .card {
  background-color: #141a56;
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
}
.layer .card .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.layer .card .card-body .left {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.layer .card .card-body .left .name {
  color: #fff;
  font-size: 18px;
  margin: 0;
}
.layer .card .card-body .left .diskon {
  color: #ff0000;
  font-size: 16px;
  text-decoration: line-through;
  margin: 0;
}
.layer .card .card-body .left .price {
  color: #00ff03;
  font-size: 18px;
  margin: 0;
}

.layer .card .card-body .right {
  margin-left: 20px;
  height: 100%;
  padding: 5px;
}
.layer .card .card-body .right .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: all ease 0.5s;
}
.layer .card .card-body .right .link:hover {
  box-shadow: 0 25px 45px #00000040;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: all ease 0.5s;
}
.layer .card .card-body .right .link ion-icon {
  color: white;
  font-size: 40px;
}
